footer {
    height: auto;
    color: white;
    background-color: brown;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /*  Fixed on screen
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    */
}

footer p {
    line-height: normal;
    padding: 3px;
}

footer p a {
    text-decoration: none;
    color: white;
}

footer p a:hover {
    color: lightblue;
}

footer .info-box {
    /* flex-basis: 60%; */
}

footer .newsletter-wrapper {
    justify-content: flex-end;
}

.newsletter {
    color: black;
    background-color: white;
    padding: 10px 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
}