@import url('./navigation.css');
@import url('./header.css'); 
@import url('./main.css'); 
@import url('./gallery.css');
@import url('./footer.css');

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Lora:ital@1&display=swap');

/* Global */
* {
    margin: 0 auto;
    padding: 0 auto;
}

body::-webkit-scrollbar {
    display: none;
} 

img {
    max-width: 100%;
    height: auto;
}

.preview-img {
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
}

.dark {
    background: #F4F7FC;
}

.white {
    background: white;
}

h2 {
    margin-bottom: 5px;
}

p {
    font-size: 1.2rem;
    padding: 10px;
}

code {
    display: flex;
    padding: 15px;
    border-radius: 5px;
}

code a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
    font-family: 'Kiwi Maru', serif;
    font-size: 0.75rem;
}

pre.code-box {
    box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%);
    background: white;
    padding: 18px;
    cursor: text;
}

main, section {
    padding: 100px 0;
}

.container {
    width: 80%;
    display: flex;
}

.info-box, .img-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
}

@media (max-width: 1080px) {
    main, section {
        padding: 50px 0;
    }

    .container {
        flex-direction: column;
        width: 90%;
    }
}



h2.section-title {
    font-size: 2.25rem;
    margin-bottom: 0.5em;
}