nav {
  background-color: rgb(165, 51, 51);
  color: white;

  display: flex;
  justify-content: center;

  font-family: "Kiwi Maru", serif;
  /* font-size: 1.3rem; */
  font-size: 20px;
}

nav div {
  flex-basis: 80%;
  padding: 0;
  margin: 0;
}

nav #menu {
  display: none;
  width: 0;
}

nav ul {
  height: 60px;

  list-style: none;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li a{
  /* opacity: 0.8; */
  text-decoration: none;
  color: #cccccc;
}

nav li a:hover {
  cursor: pointer;
  color: white;

  /* opacity: 1; */
}

@media (max-width: 1080px) {
  nav {
    overflow: hidden;
    height: 60px;
    transition: height 1s ease 0s;
    cursor: pointer;

  }

  nav #menu {
    display: flex;
    padding-top: 10px;
    font-weight: 50;
    font-size: larger;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    padding-top: 30px;
    justify-content: center;
  }

  nav:hover {
    height: 480px;
  }
}
