@import url('./navigation.css');
@import url('./header.css'); 
@import url('./gallery.css');
@import url('./footer.css');

@import url('./inputURL.css');


@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

/* Global */
* {
    margin: 0 auto;
    padding: 0 auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

.preview-img {
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%), 0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
}

.dark {
    background: #F4F7FC;
}

.white {
    background: white;
}

h2 {
    margin-bottom: 5px;
}

p {
    font-size: 1.2rem;
    padding: 10px;
    line-height: 2rem;
    text-align: center;
}

code {
    display: flex;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.code-link:hover {
    cursor: pointer;
}

code.code {
    box-shadow: 0 0 0 1px hsl(240deg 30% 28% / 5%), 0 2px 5px 0 hsl(240deg 30% 28% / 10%), 0 1px 1px 0 hsl(0deg 0% 0% / 7%);
}

code a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: blue;
    font-family: 'Kiwi Maru', serif;
    font-size: 0.75rem;
}

code::selection {
    color: rgb(73, 155, 73);
    background: rgb(47, 47, 47);
}

pre.code-box {
    padding: 18px;
    cursor: text;

}

main, section {
    padding: 100px 0;
    font-family: 'Kiwi Maru', serif;

}

.container {
    width: 80%;
    display: flex;
}

.info-box, .img-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */

    padding: 20px;
}

.info-box p {
    text-size-adjust: auto;
}

.info-box pre {
    width: auto;
}

@media (max-width: 1080px) {
    main, section {
        padding: 50px 0;
    }

    .container {
        flex-direction: column;
        width: 90%;
    }
}

h2.section-title {
    font-size: 2.25rem;
    margin-bottom: 0.5em;
}

.text-code {
    display: inline-block;
    margin: 0;
    padding: 0px 5px;
    width: fit-content;
    flex-wrap: wrap;
}