.input-group {
    display: flex;
    align-items: center;

    font-size: larger;
}

.inputURL {
    /* border-style: none; */

    padding: 5px;
}

.tryURL {
    padding: 5px 15px;
    margin-left: 5px;
    cursor: pointer;
    background: #F4F7FC;
    border-radius: 5px;
    /* border: 1px solid black; */
}